[submodule "proto/carta-protobuf"]
	path = proto/carta-protobuf
	url = https://github.com/CARTAvis/carta-protobuf
[submodule "services/controller/internal/database/schemas"]
	path = services/controller/internal/database/schemas
	url = https://github.com/cartavis/schemas
