name: Build

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'
      - name: Install dependencies
        run: |
          sudo apt-get update -y
          sudo apt install -y protoc-gen-go protoc-gen-go-grpc
      - name: Build gRPC files
        run: make proto
      - name: Build services
        run: make services
